@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  width: 1px;
  background-color:  rgb(241 245 249 / var(--tw-bg-opacity));
}


::-webkit-scrollbar-thumb {
  background: #001727;
  border-radius: 6px;
}

.container-lg {
  margin: 15px;
  margin-left: 4rem;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.font-rubik {
  font-family: "Rubik Mono One", monospace;
  font-weight: 600;
  /* font-style: normal;/ */
}

.newsletterBg {
  background: url("/app/Assets/images/newsletterBg.png");
}

.hidden {
  display: none;
}
